.about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 150vh;
  width: 150vw;
  background-image: url('./static.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-content {
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.tv-wrapper {
  position: relative;
  width: 1500px;
  height: auto;
  padding-right: 680px;
  padding-bottom: 300px;
}

.about-tv {
  width: 100%;
  height: auto;
}

.about-text {
  position: absolute;
  color: #000;
}

.about-h1 {
  top: 25%;
  left: 26%;
}

.about-p {
  top: 32%;
  left: 22%;
  word-wrap: break-word;
  width: 18%;
}