.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background-image: url('./box.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 200vh;
}

.home h1 {
  color: #ffffff;
  padding-right: 200px;
}

.home p {
  color: #cccccc;
  padding-right: 220px;
  padding-top: 50px;
}

.about-button {
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 16px;
  background-color: purple;
  color: rgb(161, 216, 32);
  border: hsl(from green h s l);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 200px;
}

.about-button:hover {
  background-color: palevioletred;
}